absl-py==0.11.0
appdirs==1.4.4
appnope==0.1.2
astor==0.8.1
astroid==1.6.6
backcall==0.2.0
beautifulsoup4==4.9.3
CacheControl==0.12.6
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
firebase_admin
Flask==0.12.2
Flask-Cors==3.0.3
gast==0.4.0
google-api-core==1.25.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-cloud-core==1.5.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.35.0
google-crc32c==1.1.1
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.34.0
gunicorn==19.7.1
h5py==3.1.0
httplib2==0.18.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.5.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
moviepy==1.0.3
mpmath==1.1.0
msgpack==1.0.2
mysql-connector-python==8.0.22
ndindex==1.5
numpy==1.19.5
opencv-contrib-python==4.5.1.48
pandas==1.2.0
parso==0.8.2
pbu==0.6.11
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
proglog==0.1.9
prompt-toolkit==3.0.18
proto-plus==1.13.0
protobuf==3.14.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.1
pylint==1.8.2
pymongo==3.3.1
pyparsing==2.4.7
pytest==3.0.6
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
rsa==4.7
scikit-learn==0.24.0
scipy==1.6.0
six==1.15.0
sklearn==0.0
soupsieve==2.1
sympy==1.7.1
tensorboard==1.12.2
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.59.0
traitlets==5.0.5
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.2
virtualenv==20.3.0
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
